SQLALCHEMY_DATABASE_URI="postgresql://postgres:postgres@localhost:5432/evoting"
SECRET_KEY="replace-this-with-a-very-long-random-string"

# Resend Email Service
RESEND_API_KEY="re_123456789"
EMAIL_FROM="[EMAIL_ADDRESS]"
